.bell-number{
    background-color: red;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.bell-number{
    position: absolute;
    top: 5px;
    left: 17px;
}
.sdsss {
    height: 350px;
    overflow-y: scroll;
}